*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: white;

}
header{
    position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Press+Start+2P&family=Roboto:wght@700&family=Source+Serif+4:ital,wght@0,300;1,200&family=The+Nautigal&family=Zen+Kurenaido&display=swap');
header p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: fantasy;
    color: #A11B1A;
    font-size: 47px;
    text-shadow: 5px 0px 10px white;
}
#store{
    background-color: black;


}
#store .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#store .container .article {
    width: 362px;
    height: 458px;
    background-color: black;
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#store .container .article:hover{
    border: 1px solid white;
    border-radius: 5px;
}
#store .container .article .mg{
    width: 100%;
    height: 90%;
}
#store .container .article .mg img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:700px) {
    header p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: fantasy;
        color: #A11B1A;
        font-size: 20px;
        text-shadow: 5px 0px 10px white;
    }
    
}